body { margin: 2em; padding: 0; background: yellow; color: black; font-family: Verdana, Geneva, sans-serif; font-size: 65%; }
/* http://www.ampsoft.net/webdesign-l/WindowsMacFonts.html */  /* http://www.techonthenet.com/css/properties/font_family.php */
h1 { margin: 0; font-size: 1.5em; font-weight: bold; }
.center { text-align: center; }  .center table { margin-left: auto; margin-right: auto; text-align: left; }  .center div { text-align: left; }
table { border-spacing: 0; border-collapse: collapse; border: 1px solid #ccccdd; width: 100%; background: white; font-size: 1em; }
th, td { padding: 0.4em; }  th { text-align: left; }
strong, th, .bold { font-weight: bold; }
img { border-style: none; }
.title-spacing { margin: 0.4em; }
.page-title, .padding { padding: 0.4em; }

.container { border: 1px solid red; background: white; }
div.container { display: -moz-inline-stack; display: inline-block; }  /* IE compatibility added inside style-ie.css */

.spacer { margin: 2em; }
.main-title, .green, .good { color: green; }  .bad { color: red; }  .unknown { color: #ffd700; }  .brown { color: #994433; }  .blue  { color: #0044ff; }
.page-list { margin: 0.6em; margin-left: 0.8em; margin-bottom: 1em; line-height: 2.3; }
.page-title { background: #ccff99; color: #0044ff; }
.inner-table-infos { border-style: none; }
.inner-table-infos th, .inner-table-infos td { padding: 0.1em; }  .inner-table-infos th { font-weight: normal; width: 37%; min-width: 10.8em; }
.header-column { background: #c6e6e6; }
.empty-list { height: 3em; text-align: center; }
/* Odd lines */ .odd { background: white; }  /* Even lines */ .even { background: #f0f0f0; }
.gwc-home-link { color: black; }
.project-link { padding: 0.7em; }

.update-infos { font-weight: bold; }
.major-change { color: red; }

a { -moz-outline-style: none; outline-style: none; }  a img { -moz-outline: 1px none black; outline: 1px none black; border: 1px none black; }
a:focus { color: lime; }
a:focus img { -moz-outline-style: solid; outline-style: solid; }
.hover-underline, .gwc-home-link, .gwc { text-decoration: none; }
.hover-underline:hover, .gwc-home-link:hover { text-decoration: underline; }

.accessible { margin: 0; padding: 0; position: absolute; top: -1000px; left: auto; right: auto; width: 1px; height: 1px; overflow: hidden;
			  speak: normal; voice-family: female; }
.accessible:focus { top: 0; width: auto; height: auto; }