body { margin: 2em; padding: 0; background: yellow; color: black; font-family: Verdana, Geneva, sans-serif; font-size: 65%; }
/* http://www.ampsoft.net/webdesign-l/WindowsMacFonts.html */  /* http://www.techonthenet.com/css/properties/font_family.php */
h1 { margin: 0; font-size: 1.5em; font-weight: bold; }
.center { text-align: center; }  .center table { margin-left: auto; margin-right: auto; text-align: left; }  .center div { text-align: left; }
table { border-spacing: 0; border-collapse: collapse; }
.container, table { border: 1px solid red; background: white; }  .container, th, td { padding: 0.4em; }  th { text-align: left; }
.title{ padding: 0.6em; padding-bottom: 0; }
strong, th, .bold { font-weight: bold; }
img { border-style: none; }

/* The line "display: inline-block;" gives hasLayout, the line "display: inline;" reset the display as desired, without taking back hasLayout. */
/* So we need both for IE 7 and earlier but they mustn't be in a single rule, otherwise it doesn't work completely. */
div.container { display: -moz-inline-stack; display: inline-block; }
div.container { *display: inline; }  /* The asterisk makes it usable only by IE 7 and earlier (that is exactly where we need it) */

.spacer { margin: 2em; }
.main-title, .good { color: green; }  .bad { color: red; }  .unknown { color: #ffd700; }
.page-list { padding: 0.6em; padding-left: 0.8em; padding-bottom: 1em; line-height: 2.3; }
.page-title { background: #ccff99; color: #0044ff; }
.inner-table-infos { border-style: none; }
.inner-table-infos th, .inner-table-infos td { padding: 0.1em; }  .inner-table-infos th { font-weight: normal; width: 37%; min-width: 10.8em; }
.inner-table { border-color: #ccccdd; }
.header-column { background: #c6e6e6; }
/* Odd lines */ .odd { background: white; }  /* Even lines */ .even { background: #f0f0f0; }
.gwc-home-link { color: black; }

a { outline-style: none; }
a:focus { color: lime; }
.hover-underline, .gwc-home-link, .gwc { text-decoration: none; }
.hover-underline:hover, .gwc-home-link:hover { text-decoration: underline; }
